<label> Server Name </label>


<!-- input 1 -->
<!-- <input 
    type="text"
    class="form-control"
    (input)="onUpdateServerName($event)"
> -->
<!-- ~~~~~~~~ EVENT ~~~~~~~~ -->
<!-- $event take of the event of ocurred -->


<br>


<!-- input 2 -->
<input 
    type="text"
    class="form-control"
    [(ngModel)]="serverName"
>
<!-- ~~~~~~~~ TWO DATA BINDING ~~~~~~~~ -->
<!-- Two Data Binding: Works updating the value in code and in screen
    works as both binding together
    if write on screen in input 1 the value will to input 2 
    but if write on screen in input 2 the value don't will to input 1 
    because the input 1 don't use the Two Data Binding so isn't updated   -->


<br>


<!-- <p>{{ serverName }}</p> -->
<!-- ~~~~~~~~ STRING INTERPOLATION ~~~~~~~~ -->
<!-- Allow anything that returns a string value -->


<p *ngIf="serverCreated; else noServer">Server created! Server name is {{serverName}}</p>
<!-- ~~~~~~~~~~~ DIRECTIVE *ngIf WITH ELSE ~~~~~~~~~~~ -->
<!-- The directive (*ngIf) change the DOM, that means remove ou add something
    in this case, if the server was created(serverCreated == true) 
    then the paragraph will be add in the DOM

    THIS ADDS OR REMOVES, does not hide and show

    *ngIf allows anything that returns a boolean value
-->
<ng-template #noServer>
    <p>No server created</p>
</ng-template>
<!-- There is this way to do an else in the *ngIf directive, creating the - local reference - 
    and adding in ng-template

    but most of the time negative condition is used in *ngIf-->


<button
    class="btn btn-primary"
    [disabled]="!allowNewServer"  
    (click)="onCreateServer()"
> 
Add Server </button>
<!-- ~~~~~~~~ DATA BINDING ~~~~~~~~ -->
<!-- Data Biding: brackets means the value is from the TS file -->
<!-- ~~~~~~~~ EVENT BINDING ~~~~~~~~ -->
<!-- Event Binding: parentheses means the capture of event
    it's allow to use code directly here, but only a simple one  -->


<!-- <p [innerText]="allowNewServer"></p> -->
<!-- ~~~~~~~~ PROPRIETY innerText ~~~~~~~~ -->
<!-- change the text propriety of paragraph
    when needs to show a text use string interpolation
    when needs to change a propriety use data binding
-->

<!-- <p>
    {{serverCreationStatus}}
</p> -->

<app-server *ngFor="let server of servers"></app-server>
<!-- ~~~~~~~~~~~ DIRECTIVE *ngFor ~~~~~~~~~~~ -->
<!-- The directive (*ngFor) change the DOM
    in this case, will adds how many servers have in the servers array-->